*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,body{
    height: 100%;
    width: 100%;
    /* background-color: #000; */
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.iVIjEOnVlIVCgp312wCDzgHaE8&pid=Api&P=0&h=180);
}

/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image:url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
} */



#content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    /* background-image:url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 5px;
    text-align: center;
    overflow: hidden;
}


#yes{
    background-color: brown;
    border: none;
    width: 90px;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    transition: top 0.5, left 0.5s;
    margin-top: 20px;
    color: #fff;
}

#target{
    position: absolute;
    left : 200px;
    background-color: aqua;
    border: none;
    width: 90px;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: top 0.5, left 0.5s;
    color: #fff;
}

h1{
    color: #fff; 
}

#ans{
    color: #000;
}