*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,body{
    height: 100%;
    width: 100%;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.412); 
}



#content{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 5px;
    /* text-align: center; */
    overflow: hidden;
    /* background-color: darkblue; */
}



#yes{
    background-color: brown;
    border: none;
    width: 90px;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    transition: top 0.5, left 0.5s;
    margin-top: 20px;
    color: #fff;
}


img{
    width: 50px;
    height: 50px;
}



#target{
    position: absolute;
    left : 200px;
    background-color: aqua;
    border: none;
    width: 90px;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: top 0.5, left 0.5s;
    color: #fff;
}



h1{
    color: #fff;
    
}